<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grpc.java.kernel.mybatis.mapper.IMPowerMapper" >
  <resultMap id="BaseResultMap" type="com.grpc.java.kernel.entity.IMPower" >
    <constructor >
      <idArg column="power_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="power_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="power" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="create_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="update_time" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    power_id, power_name, power, status, create_time, update_time
  </sql>


  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from IMPower where power_id = #{power_id}
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from IMPower where power_name = #{power_name}
    limit 1
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from IMPower
  </select>

  <delete id="deleteByPrimaryKey" >
    delete from IMPower
    where power_id = #{power_id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.grpc.java.kernel.entity.IMPower" >
    insert into IMPower
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="powerId != null" >
        power_id,
      </if>
      <if test="powerName != null" >
        power_name,
      </if>
      <if test="power != null" >
        power,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="powerId != null" >
        #{powerId,jdbcType=INTEGER},
      </if>
      <if test="powerName != null" >
        #{powerName,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        #{power,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.grpc.java.kernel.entity.IMPower" >
    update IMPower
    <set >
      <if test="powerName != null" >
        power_name = #{powerName,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        power = #{power,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where power_id = #{powerId,jdbcType=INTEGER}
  </update>
</mapper>