<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grpc.java.kernel.mybatis.mapper.IMRoleMapper" >
  <resultMap id="BaseResultMap" type="com.grpc.java.kernel.entity.IMRole" >
    <constructor >
      <idArg column="role_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="role_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="role_power" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="role_power_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="create_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="update_time" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    role_id, role_name, role_power, role_power_name, status, create_time, update_time
  </sql>


  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from IMRole where role_id = #{role_id}
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from IMRole where role_name = #{role_name}
    limit 1
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from IMRole
  </select>

  <delete id="deleteByPrimaryKey" >
    delete from IMRole
    where role_id = #{role_id,jdbcType=INTEGER}
  </delete>



  <insert id="insertSelective" parameterType="com.grpc.java.kernel.entity.IMRole" >
    insert into IMRole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="rolePower != null" >
        role_power,
      </if>
      <if test="rolePowerName != null" >
        role_power_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="rolePower != null" >
        #{rolePower,jdbcType=VARCHAR},
      </if>
      <if test="rolePowerName != null" >
        #{rolePowerName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.grpc.java.kernel.entity.IMRole" >
    update IMRole
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="rolePower != null" >
        role_power = #{rolePower,jdbcType=VARCHAR},
      </if>
      <if test="rolePowerName != null" >
        role_power_name = #{rolePowerName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>